<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INFORMACIÓN PERSONAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen centrada en la parte superior -->
  <div class="image-container">
    <img src="../../assets/JARED.png" alt="Imagen de tamaño normal" class="normal-image">
  </div>

  <!-- Contenido de la tabla -->
  <div class="table-container">
    <table class="custom-table">
      
      <tbody>
        <!-- Filas de la tabla -->
        <tr>
          <td>NOMBRES Y APELLIDOS:</td>
          <td>Jared Antonio Valenzuela Suárez</td>
        </tr>
        <tr>
          <td>FECHA DE NACIMIEINTO:</td>
          <td>06 de marzo de 2002</td>
        </tr>
        <tr>
          <td>CÉDULA DE CIUDADANÍA:</td>
          <td>1750987842</td>
        </tr>
        <tr>
          <td>SEXO:	</td>
          <td>Masculino</td>
        </tr>
        <tr>
          <td>ESTADO CIVIL:</td>
          <td>Soltero</td>
        </tr>
        <tr>
          <td>DIRECCIÓN:	</td>
          <td>José Peralta S11-143 y Huacho</td>
        </tr>
        <tr>
          <td>TELÉFONO: </td>
          <td>2655976</td>
        </tr>
        <tr>
          <td>CELULAR:</td>
          <td>0983235457</td>
        </tr>
        <tr>
          <td>E-MAIL:</td>
          <td>jared.valenzuelajvs02</td>
        </tr>
        <tr>
          <td>GITHUB: </td>
          <td>JaredVS77</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>


